.wms-page {
	font-family: $font-manrope;

	.title {
		color: #032448;

		&.title-lg {
			font-size: rem(52);
		}
	}

	[class*="__container"] {
		max-width: rem(1320);
	}
}

.platform {
	padding: em(90) em(0) em(1) em(0);

	@media (min-width: $md4) {
		padding-top: rem(200);
	}

	background: url("@img/wms24-bg.svg") 100% 100% / contain no-repeat,
	#EDEFF7;

	display: flex;
	margin-bottom: rem(74);

	// .platform__content
	&__content {
		flex: 0 0 100%;
	}

	// .platform__container
	&__container {

		height: 100%;
		display: flex;
		flex-direction: column;
	}

	// .platform__main
	&__main {
		flex: 1 1 auto;
		text-align: center;
		margin: 0 auto;
		color: #032448;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media (min-width: $md4) {
			margin: 0;
			text-align: left;
			padding: em(50) em(0);
			width: 50%;
		}

		@media (min-width: $md3) {
			padding: 0 0 em(116) em(0);
		}
	}

	// .platform__offer
	&__offer {
		max-width: 28.8125rem;
	}

	// .platform__title
	&__title {

		font-size: 6.25rem;
		font-weight: 700;
		line-height: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		& small {
			font-size: em(2, 6.25);
			line-height: 135%;
			text-transform: uppercase;
		}
	}

	// .platform__desc
	&__desc {
		margin-top: 1.5rem;
		font-size: 1.5rem;
		font-weight: 600;
		line-height: 132%;
	}

	// .platform__btns
	&__btns {
		margin-top: 3rem;
		display: flex;
		gap: 1rem;
	}

	// .platform__btn
	&__btn {
		width: 100%;
		min-width: 15.125rem;

		@media (min-width: $md4) {
			width: auto;

		}
	}

	// .platform__image
	&__image {
		flex: 0 0 50%;
		transform: translateX(-100%);

		position: relative;
	}

	// .platform__image-monitor
	&__image-monitor {
		margin-right: rem(-240);

		& img {
			width: 100%;
		}
	}

	// .platform__image-phone
	&__image-phone {
		position: absolute;
		left: rem(-16);
		bottom: rem(-74);
		max-width: 40.3%;

		& img {
			width: 100%;
		}
	}
}



.opportunity {
	padding: rem(100) 0;

	// .opportunity__container
	&__container {}

	// .opportunity__title
	&__title {
		text-transform: uppercase;
		font-weight: 700;
	}

	// .opportunity__content
	&__content {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 1rem;
	}

	// .opportunity__column
	&__column {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		&.opportunity__column--large {
			grid-column: span 2;
		}
	}

	// .opportunity__block
	&__block {
		border-radius: 0.75rem;
		background: #F6F7FA;
		padding: 1.875rem 1.25rem 1.25rem 1.25rem;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;

		&.opportunity__block--image {
			padding: 0;
		}
	}

	// .opportunity__block-caption
	&__block-caption {
		color: #032448;
		font-size: 1.375rem;
		font-weight: 700;
		line-height: 116%;
		text-transform: uppercase;
	}

	// .opportunity__block-list
	&__block-list {
		margin-top: 1rem;
		font-size: 1.1875rem;
		line-height: 142%;

		& li {
			position: relative;
			padding-left: rem(27);

			&:not(:last-child) {
				margin-bottom: 0.75rem;
			}

			&::before {
				content: '';
				position: absolute;
				top: rem(12);
				left: rem(4);
				width: rem(10);
				height: rem(10);
				border-radius: 50%;
				background: #848FAE;
			}
		}
	}

	// 
	&__column--large {}

	// .opportunity__row
	&__row {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
}

.why {
	padding: rem(40) 0;

	@media (min-width: $md3) {
		padding: rem(80) 0;
	}

	background: rgba(165, 170, 181, 0.1);

	// .why__container
	&__container {}

	// .why__title
	&__title {}

	// .why__list
	&__list {
		margin: rem(20) 0 0 0;
		display: grid;
		gap: rem(15);

		@media (min-width: $md5) {
			margin: rem(33) 0 0 0;
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: $md3) {
			grid-template-columns: repeat(3, 1fr);
			gap: rem(30);
		}
	}

	// .why__item
	&__item {
		border: rem(1) solid #d6d6d6;
		background: #fff;
		border-radius: rem(10);
		padding: rem(16) rem(10) rem(16) rem(16);
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		@media (min-width: $md4) {
			padding: rem(25) rem(29) rem(20);
		}
	}

	// .why__item-num
	&__item-num {
		background: #ebebeb;
		color: rgba($color: #203b54, $alpha: 0.4);
		font-size: rem(24);
		letter-spacing: 0.096px;
		font-weight: 600;
		line-height: math.div(33, 27);
		flex-shrink: 0;
		width: rem(46);
		height: rem(46);

		@media (min-width: $md5) {
			width: rem(60);
			height: rem(60);
		}

		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 rem(15) 0 0;
	}

	// .why__item-header
	&__item-caption {
		margin: rem(13) em(0) em(0) em(0);
		color: #222;
		font-weight: 600;
		letter-spacing: 0.08px;
		font-size: rem(18);

		@media (min-width: $md4) {
			font-size: rem(20);
		}
	}

	// .why__item-benefits
	&__item-benefits {
		margin: rem(15) em(0) em(0) em(0);
		color: #000;

		letter-spacing: 0.064px;
	}

	// .why__item-benefit
	&__item-benefit {
		&:not(:last-child) {
			margin: em(0) em(0) em(22) em(0);
		}
	}
}

.video {
	background: #fff;
	padding: rem(50) 0 em(25);

	@media (min-width: $md3) {
		padding: rem(100) 0 em(50);
	}

	// .video__container
	&__container {
		@media (min-width: $md4) {
			display: flex;
		}
	}

	// .video__info
	&__info {
		@media (min-width: $md4) {
			flex: 0 1 35%;
		}
	}

	// .video__title
	&__title {
		@media (min-width: $md4) {
			text-align: left;
		}
	}

	// .video__list
	&__list {
		margin: rem(15) auto 0;
		padding: rem(20) rem(35);
		border-radius: rem(5);
		background: rgba(165, 170, 181, 0.1);
		border-radius: rem(10);
		max-width: rem(290);

		@media (min-width: $md4) {
			max-width: 100%;
		}

		@media (min-width: $md3) {
			padding: em(30) em(35);
			margin: rem(23) em(0) em(0) em(0);
		}
	}

	// .video__list-item
	&__list-item {
		display: flex;
		align-items: center;

		&:not(:last-child) {
			margin: em(0) em(0) em(12) em(0);

			@media (min-width: $md4) {
				margin: em(0) em(0) em(25) em(0);
			}
		}
	}

	// .video__list-icon
	&__list-icon {
		width: rem(32);
		height: rem(32);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		background: rgba($color: #203b54, $alpha: 0.1);
		margin: 0 rem(10) 0 0;

		@media (min-width: $md3) {
			width: rem(36);
			height: rem(36);
			margin: 0 rem(15) 0 0;
		}
	}

	// .video__list-text
	&__list-text {
		@media (min-width: $md3) {
			font-size: rem(20);
		}

		font-weight: 600;
		line-height: math.div(24, 20);
	}

	// .video__slider
	&__slider {
		position: relative;
		min-width: 0;
		padding: 0 rem(40);
		margin: em(25) em(0) em(0) em(0);

		@media (min-width: $md4) {
			margin: em(0) em(0) em(0) em(10);
			flex: 0 1 75%;
		}

		@media (min-width: $md3) {
			padding: 0 rem(63);
			margin: em(0) em(0) em(0) em(50);
		}
	}

	&__prev {
		left: 0;

		@media (min-width: $md3) {
			left: rem(10);
		}
	}

	&__next {
		right: 0;

		@media (min-width: $md3) {
			right: rem(10);
		}
	}
}

.video-slider {
	min-height: 100%;
	display: flex;

	// .video-slider__wrapper
	&__wrapper {
		@media (min-width: $md5) {
			height: rem(320);
		}

		@media (min-width: $md4) {
			height: inherit;
		}
	}

	// .video-slider__slide
	&__slide {
		position: relative;
		height: 0;
		overflow: hidden;
		padding-bottom: 56.25%;

		& iframe {
			border-radius: rem(10);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

.variants {
	padding: em(25) em(0) em(50) em(0);

	@media (min-width: $md4) {
		padding: em(50) em(0) em(100) em(0);
	}

	// .variants__container
	&__container {}

	// .variants__title
	&__title {}

	// .variants__items
	&__items {
		margin: rem(20) em(0) em(0) em(0);
		display: grid;
		gap: rem(15);

		@media (min-width: $md4) {
			gap: rem(30);
			margin: rem(32) em(0) em(0) em(0);
			grid-template-columns: repeat(2, 1fr);
		}
	}

	// .variants__item
	&__item {
		border-radius: rem(5);
		background: rgba(165, 170, 181, 0.1);
		display: flex;
		flex-direction: column;
		padding: em(0) em(0) em(20) em(0);
	}

	// .variants__item-header
	&__item-header {
		background: #203b54;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;

		@media (min-width: $md3) {
			font-size: rem(24);
		}

		font-weight: 600;
		letter-spacing: 0.096px;
		padding: em(31, 24) em(31, 24) em(26, 24) em(31, 24);
		border-radius: rem(5);

		&::before {
			margin: em(0) rem(16) em(0) em(0);
			font-size: em(40, 24);
		}
	}

	// .variants__item-body
	&__item-body {
		margin: em(16) auto auto;

		@media (min-width: $md4) {
			margin: em(26) auto auto;
		}

		max-width: rem(370);
		padding: 0 rem(20);
	}

	// .variants__item-list
	&__item-list {
		color: #222;
		letter-spacing: 0.064px;
		display: flex;
		flex-direction: column;
		align-items: center;

		& li {
			display: flex;
			justify-content: flex-start;

			// align-items: center;
			&::before {
				@extend %ic, .icon-check;
				margin: em(4) rem(8) em(0) em(0);
			}

			&:not(:last-child) {
				margin: em(0) em(0) em(16) em(0);
			}
		}
	}

	// .variants__item-footer
	&__item-footer {
		margin: rem(28) em(0) em(0) em(0);
		padding: 0 em(20);

		@media (min-width: $md4) {
			margin: em(25, 20) em(0) em(0) em(0);
		}

		text-align: center;
		color: #222;

		& span {
			color: #203b54;
			letter-spacing: 0.08px;
			font-weight: 600;
			font-size: rem(18);

			@media (min-width: $md4) {
				font-size: rem(20);
			}
		}
	}

	// .variants__footer
	&__footer {
		text-align: center;
		margin: rem(20) em(0) em(0) em(0);

		@media (min-width: $md4) {
			margin: rem(25) em(0) em(0) em(0);
		}
	}

	// .variants__btn
	&__btn {
		width: 100%;

		@media (min-width: $md5) {
			width: auto;
		}
	}
}

.feedback {
	padding: em(30) em(0);

	@media (min-width: $md5) {
		padding: em(35) em(0) em(55);
	}

	background: url("@img/main-bg.svg") 0 0 / cover no-repeat,
	#ebebeb;

	&.feedback-black {
		background: url("@img/blue-bg.svg") 0 0 / cover no-repeat, #203b54;
		color: #fff;

		.feedback__title {
			color: #fff;
		}

		.feedback__subtitle {
			color: #fff;
		}

		.form__column-item {
			&::before {
				border-right-color: rgba($color: #fff, $alpha: 0.2);
			}
		}
	}

	&.feedback-blue {
		background: #203b54;
		color: #fff;

		.feedback__title {
			letter-spacing: normal;
			font-size: rem(24);
			color: #fff;

			&.title {
				@media (min-width: $md4) {
					font-size: rem(32);
					text-align: left;
				}
			}
		}

		.feedback__subtitle {
			color: #fff;
		}

		.form__column-item {
			&::before {
				border-right-color: rgba($color: #fff, $alpha: 0.2);
			}
		}
	}

	// .feedback__container
	&__container {
		@media (min-width: $md4) {
			display: flex;
			align-items: center;
		}
	}

	// .feedback__text
	&__text {
		flex: 0 0 50%;

		@media (min-width: $md4) {
			padding: 0 em(20);
		}

		@media (min-width: $md3) {
			padding: 0 em(58);
		}
	}

	// .feedback__title
	&__title {
		font-size: rem(20);
		font-weight: 600;
		letter-spacing: 0.128px;
		color: #203b54;

		@media (min-width: $md4) {
			font-size: rem(32);
		}
	}

	// .feedback__subtitle
	&__subtitle {
		margin: rem(14) em(0) em(0) em(0);
		color: #222;

		@media (min-width: $md4) {
			margin: rem(20) em(0) em(0) em(0);
			font-size: rem(18);
		}

		letter-spacing: 0.072px;
	}

	// .feedback__form
	&__form {
		margin: em(20) em(0) em(0) em(0);
		flex: 0 0 50%;

		@media (min-width: $md4) {
			margin: 0;
			padding: em(0) em(20);
		}

		@media (min-width: $md3) {
			padding: em(0) em(99) em(0) em(80);
		}
	}
}