.wms-page {
	font-family: $font-manrope;
	color: #0F2862;

	.title {
		color: #032448;
		text-transform: uppercase;
		font-weight: 700;

		&.title-lg {
			font-size: rem(52);
		}
	}

	[class*="__container"] {
		max-width: rem(1320);
	}
}

.platform {
	padding: em(90) em(0) em(1) em(0);

	@media (min-width: $md4) {
		padding-top: rem(200);
	}

	background: url("@img/wms24-bg.svg") center 100% / contain no-repeat,
	#EDEFF7;

	display: flex;
	margin-bottom: rem(74);

	// .platform__content
	&__content {
		flex: 0 0 100%;
	}

	// .platform__container
	&__container {

		height: 100%;
		display: flex;
		flex-direction: column;
	}

	// .platform__main
	&__main {
		flex: 1 1 auto;
		text-align: center;
		margin: 0 auto;
		color: #032448;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media (min-width: $md4) {
			margin: 0;
			text-align: left;
			padding: em(50) em(0);
			width: 50%;
		}

		@media (min-width: $md3) {
			padding: 0 0 em(116) em(0);
		}
	}

	// .platform__offer
	&__offer {
		max-width: 28.8125rem;
	}

	// .platform__title
	&__title {

		font-size: 6.25rem;
		font-weight: 700;
		line-height: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		& small {
			font-size: em(2, 6.25);
			line-height: 135%;
			text-transform: uppercase;
		}
	}

	// .platform__desc
	&__desc {
		margin-top: 1.5rem;
		font-size: 1.5rem;
		font-weight: 600;
		line-height: 132%;
	}

	// .platform__btns
	&__btns {
		margin-top: 3rem;
		display: flex;
		gap: 1rem;
	}

	// .platform__btn
	&__btn {
		width: 100%;
		min-width: 15.125rem;

		@media (min-width: $md4) {
			width: auto;

		}
	}

	// .platform__image
	&__image {
		flex: 0 0 50%;
		transform: translateX(-100%);

		position: relative;
	}

	// .platform__image-monitor
	&__image-monitor {
		margin-right: rem(-240);
		max-width: rem(1520);

		& img {
			width: 100%;
		}
	}

	// .platform__image-phone
	&__image-phone {
		position: absolute;
		left: rem(-16);
		bottom: rem(-74);
		max-width: 18.125rem;

		& img {
			width: 100%;
		}
	}
}

.opportunity {
	padding: rem(100) 0;

	// .opportunity__container
	&__container {}

	// .opportunity__title
	&__title {}

	// .opportunity__content
	&__content {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 1rem;
	}

	// .opportunity__column
	&__column {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		&.opportunity__column--large {
			grid-column: span 2;
		}
	}

	// .opportunity__block
	&__block {
		border-radius: 0.75rem;
		background: #F6F7FA;
		padding: 1.875rem 1.25rem 1.25rem 1.25rem;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;

		&.opportunity__block--image {
			padding: 0;
		}
	}

	// .opportunity__block-caption
	&__block-caption {
		color: #032448;
		font-size: 1.375rem;
		font-weight: 700;
		line-height: 116%;
		text-transform: uppercase;
	}

	// .opportunity__block-list
	&__block-list {
		margin-top: 1rem;
		font-size: 1.1875rem;
		line-height: 142%;

		& li {
			position: relative;
			padding-left: rem(27);

			&:not(:last-child) {
				margin-bottom: 0.75rem;
			}

			&::before {
				content: '';
				position: absolute;
				top: rem(12);
				left: rem(4);
				width: rem(10);
				height: rem(10);
				border-radius: 50%;
				background: #848FAE;
			}
		}
	}

	// 
	&__column--large {}

	// .opportunity__row
	&__row {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}

	// .opportunity__extras
	&__extras {
		margin-top: 1rem;
		background: #F6F7FA;
		padding: rem(30);
		border-radius: 0.75rem;
		display: grid;
		grid-template-columns: 0.925fr 1fr 1fr;
		gap: 1rem;
		position: relative;
		z-index: 1;
		overflow: hidden;

		&::before {
			content: '';
			position: absolute;
			bottom: -3.38rem;
			left: -11.25rem;
			pointer-events: none;
			width: 37.5rem;
			height: 37.5rem;
			border-radius: 50%;
			background: rgba(169, 214, 234, 0.50);
			z-index: -1;
			filter: blur(rem(100));
		}

		.opportunity__block {
			background: transparent;
			border-radius: 0.75rem;
			border: rem(1) solid rgba(4, 52, 150, 0.50);
			padding: rem(30);

			&:not(:last-child) {
				margin-bottom: 1rem;
			}
		}
	}

	// .opportunity__extras-column
	&__extras-column {
		display: flex;
		flex-direction: column;
	}

	// .opportunity__extras-title
	&__extras-title {
		text-align: left;
		background: #fff;
		margin: rem(-30) rem(10) 0 rem(-30);
		padding: rem(20) 0 rem(20) rem(0);
		letter-spacing: -0.0425rem;
		border-radius: 0 0 0.75rem 0;
		position: relative;
		z-index: 2;

		&::before {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			width: rem(12);
			height: rem(12);
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M12 0C5.37258 0 0 5.37258 0 12V0H12Z' fill='white'/%3E%3C/svg%3E");
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 100%;
			width: rem(12);
			height: rem(12);
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M12 0C5.37258 0 0 5.37258 0 12V0H12Z' fill='white'/%3E%3C/svg%3E");
		}
	}

	// .opportunity__visual
	&__visual {
		margin-top: 2rem;
		flex: 1 1 auto;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}

	// .opportunity__visual-text
	&__visual-text {
		font-size: 1.375rem;
		font-weight: 500;
		line-height: 142%;
	}

	// .opportunity__visual-image
	&__visual-image {
		margin: 0 0 rem(-30) rem(-30);
	}


}

.variants {
	padding: rem(100) 0;
	background: #EDEFF7;
	overflow: hidden;

	// .variants__container
	&__container {}

	// .variants__title
	&__title {}

	// .variants__content
	&__content {
		margin-top: 3.25rem;
		display: grid;
		align-items: center;
		grid-template-columns: 1fr rem(486) 1fr;
		gap: rem(29);
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 7.5%;
			left: 55%;
			width: 52.5515rem;
			height: 52.75613rem;
			transform: translateX(-50%) rotate(-70.763deg);
			border-radius: 3131.25rem;
			background: linear-gradient(239deg, #FFF 11.23%, #EDEFF7 26.43%);
		}
	}

	// .variants__column
	&__column {}

	// .variants__column-caption
	&__column-caption {
		text-align: left;
		letter-spacing: -0.0425rem;
	}

	// .variants__column-list
	&__column-list {
		margin-top: 2rem;

		& li {
			border-radius: 0.75rem;
			border: 1px solid #848FAE;
			position: relative;
			padding: 1.45rem 1.5rem 1.45rem rem(61);
			font-size: 1.1875rem;
			line-height: 142%;

			& strong {
				white-space: nowrap;
			}

			&:not(:last-child) {
				margin-bottom: 1rem;
			}

			&::before {

				position: absolute;
				top: 1.5rem;
				left: 1.5rem;
				color: #7C97C9;
				@extend %ic, .icon-plus;
			}
		}
	}

	// .variants__image
	&__image {
		position: relative;
		z-index: 1;

		&::before {
			content: '';
			position: absolute;
			bottom: -1.5rem;
			left: 0;
			width: 100%;
			height: 3.5rem;
			border-radius: 50%;
			background: rgba(2, 29, 59, 0.30);
			z-index: -1;
			filter: blur(rem(25));
		}
	}
}

.implementation {
	padding: rem(100) 0 rem(50);

	// .implementation__container
	&__container {}

	// .implementation__title
	&__title {}

	// .implementation__list
	&__list {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
	}

	// .implementation__card
	&__card {
		border-radius: 0.75rem;
		background: #F6F7FA;
		display: flex;
		flex-direction: column;
		padding: 1.25rem 1.25rem 1.875rem 1.25rem;
	}

	// .implementation__card-image
	&__card-image {
		aspect-ratio: math.div(389, 300);

		& img {
			border-radius: 0.375rem;
		}
	}

	// .implementation__card-body
	&__card-body {
		margin-top: 1rem;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		flex: 1 1 auto;
	}

	// .implementation__card-caption
	&__card-caption {
		font-size: 1.625rem;
		font-weight: 700;
		line-height: 135%;
		text-transform: uppercase;
		color: #0F2862;
		min-height: 4.375rem;
	}

	// .implementation__card-desc
	&__card-desc {

		font-size: 1.1875rem;
		line-height: 142%;
	}

	// .implementation__btn
	&__btn {
		margin-top: 1rem;
		display: flex;
		max-width: calc(33.333% - 0.75rem);
		width: 100%;
		margin-inline: auto;
	}
}

.features {
	padding: rem(50) 0;

	// .features__container
	&__container {}

	// .features__title
	&__title {}

	// .features__list
	&__list {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 1rem;
	}

	// .features__card
	&__card {
		border-radius: 0.75rem;
		background: #F6F7FA;
		color: #0F2862;
		padding: 1.875rem 1.25rem 1.25rem 1.25rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 19.5625rem;

		&.features__card--cta {
			color: #fff;
			background: url("@img/features-bg.png") 100% 100% / cover no-repeat, #0F2862;

			.features__card-caption {
				font-size: 1.5rem;
			}
		}
	}

	// .features__card-caption
	&__card-caption {

		font-size: 1.3125rem;
		font-weight: 500;
		line-height: 132%;
	}

	// .features__card-number
	&__card-number {
		text-align: right;
		font-size: 2rem;
		font-weight: 700;
		line-height: 135%;
		text-transform: uppercase;
	}

	// .features__cta-btn
	&__cta-btn {
		align-self: flex-start;
	}
}

.benchmarks {
	padding: rem(50) 0;

	// .benchmarks__container
	&__container {
		display: flex;
		align-items: flex-end;
		gap: 3.5rem;
	}

	// .benchmarks__image
	&__image {
		width: 26.6375rem;
		flex-shrink: 0;
		margin-left: -9.5rem;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: -3.5rem;
			left: -3.5rem;

			width: 24.92613rem;
			height: 26.95625rem;
			transform: rotate(-13.348deg);
			border-radius: 26.95625rem;
			background: rgba(4, 52, 150, 0.30);
			z-index: -1;
			pointer-events: none;
			filter: blur(rem(75));
		}
	}

	// .benchmarks__content
	&__content {
		flex: 1 1 auto;
	}

	// .benchmarks__title
	&__title {
		text-align: left;
	}

	// .benchmarks__list
	&__list {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	// .benchmarks__item
	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		padding: 1.625rem 0 1.5rem;

		&:not(:last-child) {
			border-bottom: rem(1) solid rgba(4, 52, 150, 0.50);

		}
	}

	// .benchmarks__item-value
	&__item-value {
		color: #0F2862;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 116%;
		text-transform: uppercase;
		flex: 0 0 35%;
	}

	// .benchmarks__item-desc
	&__item-desc {
		flex: 1 1 auto;
		font-size: 1.1875rem;
		line-height: 142%;
	}
}

.wms-cases {
	padding: rem(50) 0 rem(100);

	// .wms-cases__container
	&__container {
		display: flex;
		flex-direction: column;
	}

	// .wms-cases__header
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 2.25rem;
	}

	// .wms-cases__title
	&__title {
		padding: 0;
	}

	// .wms-cases__controls
	&__controls {
		display: flex;
		justify-content: center;
		align-items: center;
		// order: 1;
		// margin-top: 1.25rem;
		gap: 1.25rem;

		@media (min-width: $md4) {
			gap: 0.94rem;
			// margin-top: 0;
			// order: 0;
		}
	}

	// .wms-cases__prev
	&__prev {
		position: static;
		top: auto;
		left: auto;
		right: auto;
		bottom: auto;
		transform: none;
		margin: 0;
		width: 3.875rem;
		height: 3.875rem;
		background: transparent;
		border: rem(1.8) solid #0F2862;

		&::after {
			display: none;
		}


	}

	// .wms-cases__next
	&__next {
		@extend .wms-cases__prev;


	}

	// .wms-cases__content
	&__content {}

	// .wms-cases__slider
	&__slider {
		min-width: 0;
		min-height: 0;
		max-width: 100%;
		margin-top: 0.94rem;

		@media (min-width: $md4) {
			margin-top: 2.25rem;
		}

	}
}

.case {
	display: grid;
	text-align: center;
	gap: 1rem;

	border-radius: 0.75rem;
	background: #F6F7FA;
	color: #0F2862;
	padding: 2.5rem;

	@media (min-width: $md4) {
		gap: 3.75rem;
		text-align: left;
		grid-template-columns: 0.785fr 1fr;
	}

	// .case__image
	&__image {
		& img {
			border-radius: 0.625rem;
		}
	}

	// .case__body
	&__body {
		display: flex;
		flex-direction: column;
		padding-top: 0.25rem;
	}

	// .case__caption
	&__caption {
		&.title {
			text-align: left;
			line-height: 135%;
		}
	}

	// .case__location
	&__location {
		margin-top: 0.5rem;

		line-height: 142%;

		@media (min-width: $md3) {
			margin-top: 0.5rem;
			font-size: 1.1875rem;

		}
	}

	// .case__props
	&__props {
		margin-top: 2rem;
		margin-bottom: auto;
		font-size: 1.1875rem;
		line-height: 142%;

		& li {
			position: relative;
			padding-left: rem(27);

			&::before {
				content: '';
				position: absolute;
				top: 0.75rem;
				left: 0.25rem;
				width: rem(10);
				height: rem(10);
				border-radius: 50%;
				background: rgba($color: #043496, $alpha: .50);
			}

			&:not(:last-child) {
				margin-bottom: 0.31rem;

				@media (min-width: $md3) {
					margin-bottom: 1rem;
				}
			}
		}
	}

	// .case__client
	&__client {
		margin-top: rem(30);
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 0.5rem;
		letter-spacing: 0.00513rem;
		justify-content: center;
		font-weight: 600;
		line-height: 142%;

		@media (min-width: $md3) {
			font-size: 1.1875rem;
		}

		@media (min-width: $md4) {
			justify-content: flex-start;
		}
	}

	// .case__client-text
	&__client-text {}

	// .case__client-link
	&__client-link {
		color: #203b54;
		text-decoration: underline;
		text-underline-offset: rem(4);

		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}

	// .case__actions
	&__actions {
		margin-top: 2rem;
		display: flex;
		gap: 1rem;
	}

	// .case__action
	&__action {
		max-width: 15.25rem;
		width: 100%;
	}
}

.callback {
	padding: rem(100) 0 rem(120);
	background: url("@img/callback.png") 100% 100% / 52% auto no-repeat, url("@img/callback-bg.svg") 0 0 / cover no-repeat, #EDEFF7;

	// .callback__container
	&__container {}

	// .callback__offer
	&__offer {
		padding-left: 2rem;
		max-width: rem(640);
	}

	// .callback__title
	&__title {
		text-align: left;

		&.title {
			color: #0F2862;
		}
	}

	// .callback__subtitle
	&__subtitle {
		margin-top: 2rem;
		font-size: 1.5rem;
		font-weight: 600;
		line-height: 132%;
	}

	// .callback__btn
	&__btn {
		margin-top: 3.75rem;
	}
}