// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:regular,500,600,700&display=swap&subset=cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Raleway:regular,700&display=swap&subset=cyrillic-ext);
// &display=swap&subset=cyrillic-ext
@import "fonts";

// ======================================ШРИФТЫ===============================================
// ======================================ИКОНОЧНЫЙ ШРИФТ======================================
@import "icons";

// ======================================ИКОНОЧНЫЙ ШРИФТ======================================

// Шрифт по умолчанию
$fontfamily: "Noto Sans";
// Шрифт по умолчанию

// ПЕРЕМЕННЫЕ
$minWidth: rem(320); // Минимальная ширина страницы
$maxWidth: rem(1920); // Ширина макета
$maxWidthContainer: rem(1140); // Максимальная ширина ограничивающего контейнера
$containerPadding: rem(30);

$md0: rem(1599.98);
$md1: rem(1399.98);
$md2: rem(1199.98);
$md3: rem(991.98);
$md4: rem(767.98);
$md5: rem(575.98);
$md6: rem(459.98);

$mainColor: #222222;

// ПЕРЕМЕННЫЕ

//ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ
body {
	font-family: $fontfamily, sans-serif;
	color: $mainColor;
	font-size: 16px;
	line-height: normal;

	&.lock,
	&.modal-lock {
		overflow: hidden;
	}
	&._touch {
		.submenu {
			&.open {
				display: block;
			}
		}
	}
}
// ==================ОБОЛОЧКА==============================
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

//================== ОБОЛОЧКА==================================

//=============== ОСНОВНАЯ СЕТКА===============================

// Отзывчивая
[class*="__container"] {
	margin: 0 auto;
	max-width: $maxWidthContainer;
	box-sizing: content-box;
	padding: 0 rem(15);
}

//=============== ОСНОВНАЯ СЕТКА===============================

//=================Подключаем файлы стилей
//================Общий файл для элементов страницы
@import "ui";
@import "forms";
//================Общий файл для элементов страницы
@import "header";
@import "footer";
//=======================================

// =======================ОСНОВНОЙ БЛОК==================
.page {
	flex: 1 1 auto;
}
// =======================ОСНОВНОЙ БЛОК===================

@import "pages/home.scss";
@import "pages/escort.scss";
@import "pages/learning.scss";
@import "pages/wms.scss";
@import "pages/vnedr.scss";
@import "pages/about.scss";
@import "pages/upravlenie.scss";
@import "pages/audit.scss";
@import "pages/privacy.scss";
